<div class="grid">
  <div class="col-12 ">
    <div class="grid">
      <div class="lg:col-4 md:col-4 sm:col-6 sm:col-offset-3 col-12 lg:col-offset-4 md:col-offset-4 ">

        <div class="relative">
          <div class="static mt-5">
            <div class="absolute botton right-0 img-logo">
            </div>
          </div>
        </div>

        <div class="aling-box">
          <app-card-component>
            <ng-template pTemplate="header">
              <div class="pt-5 pl-5">
                <h2>Bienvenido a provired</h2>
              </div>
            </ng-template>
            <ng-template pTemplate="content">
              <div class="grid p-4">
                <div class="col-12">

                  <input-text
                    placeHolder="Usuario"
                    [(model)]="loginModel.user"
                    (grupo)="(formLogin)"
                    [requerido]="true"
                    styleInput="help-text"
                    [placeHolderActive]="false"
                  >
                  </input-text>

                  <input-text
                    placeHolder="Contraseña"
                    [(model)]="loginModel.password"
                    (grupo)="(formLogin)"
                    [requerido]="true"
                    styleInput="help-text"
                    [placeHolderActive]="false"
                    tipo="password"
                  >
                  </input-text>

                </div>
                <div class="col-12" *ngIf="aceptarTerminos">
                  <span>Debe aceptar terminos y condiciones para poder acceder.*</span>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="grid">
                  <div class="col-12">
                    <div class="flex justify-content-center">
                      <app-button-component
                        nameButton="Ingresar"
                        type="button"
                        (eventEmiter)="login()"
                      ></app-button-component>
                    </div>
                  </div>
                </div>
            </ng-template>
          </app-card-component>
        </div>
      </div>
    </div>
  </div>
</div>

<modal-component
  [visible]="showModalTerminos"
  (closeModal)="showModalTerminos = false">
  <ng-template pTemplate="title">
    <h3>Terminos y condiciones</h3>
  </ng-template>
  <ng-template pTemplate="content">
    <textarea disabled style="width: 100%; max-height: 480px;" id="" rows="60">{{messageTerminos}}</textarea>
  </ng-template>
  <ng-template pTemplate="footer">
    <app-button-component
      nameButton="Aceptar terminos y condiciones"
      (eventEmiter)="actionAcept()"
    ></app-button-component>
  </ng-template>
</modal-component>

<p-toast></p-toast>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white" > Loading... </p>
</ngx-spinner>
