.aling-box {
  margin-top: 25%;
}

.img-logo {
  margin-top: 8%;
  width: 130px;
  height: 130px;
  background-image: url("../../../../assets/images/logo_provired.png");
  background-size: cover;
  background-repeat: no-repeat;
}
