<div class="grid">
  <div class="col-12">
    <div class="grid">
      <div class="col-3">
        <app-card-component>
          <ng-template pTemplate="header">
            <div class="flex flex-column-reverse">
              <div class="flex align-items-center justify-content-center mt-2">
                <h4 class="title-color mt-3">Servicios</h4>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="grid p-fluit">
              <div class="col-12">
                <div class="grid p-fluit">
                  <app-side-menu
                    class="col-12 mt-2"
                    [itemsMenu]="[
                      {
                        label: 'Autorizaciones',
                        icon: 'pi pi-fw pi-clone',
                        routerLink:
                          '/provired/home-provired/home/documentos/autorizaciones'
                      }
                    ]"
                  ></app-side-menu>
                </div>
              </div>
            </div>
          </ng-template>
        </app-card-component>
      </div>
      <div class="col-9">
        <app-card-component>
          <ng-template pTemplate="header">
            <div class="flex flex-column-reverse">
              <div class="flex align-items-center justify-content-center mt-2">
                <h4 class="title-color mt-3">Consulta impulso procesal</h4>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="grid">
              <div class="col-12">
                <div class="p-3 text-alert">
                  Esta opción le permite consultar los procesos que requiera
                  para impulso procesal. Por ejemplo, al seleccionar el rango
                  Mayor a 61 días, el sistema le emite el listado de procesos
                  cuya última actuación registrada en nuestra plataforma tiene
                  una fecha superior a 61 días calendario.
                </div>
              </div>
              <div class="col-12">
                <app-filters-dinamics
                  [showRadicacion]="false"
                  [showSuscriptores]="false"
                  (eventFilter)="filtrarImpulso($event)"
                ></app-filters-dinamics>
              </div>
            </div>
          </ng-template>
        </app-card-component>
      </div>
    </div>
    <div class="grid" *ngIf="listImpulso.length > 0">
      <div class="col-12">
        <app-card-component>
          <ng-template pTemplate="content">
            <div class="grid">
              <div class="col-3">
                <app-button-component
                  nameButton="Generar a excel reporte impulso procesal"
                  [icon]="true"
                  [showTooltip]="true"
                  messageTooltip="Detalle"
                  iconClass="pi pi-file-excel"
                  clase="p-button-rounded p-button-success p-button-outlined"
                  (eventEmiter)="downloadReport()"
                ></app-button-component>
              </div>
            </div>
            <div class="grid p-fluid p-2">
              <div class="col-12">
                <app-tabla-component
                  [cols]="[
                    { field: 'name_ciudad', header: 'Ciudad' },
                    { field: 'name_despacho', header: 'Despacho' },
                    { field: 'radicacion', header: 'Radicación' },
                    { field: 'proceso', header: 'Tipo proceso' },
                    { field: 'demandante', header: 'Demandante' },
                    { field: 'demandado', header: 'Demandado' },
                    { field: 'codigo_23', header: '23 Digitos' }
                  ]"
                  [data]="listImpulso"
                  [totalRecords]="totalItems"
                  [showTotalRecords]="true"
                  [paginador]="true"
                  [lazy]="true"
                  (onChangePage)="filtrarImpulso(undefined, $event)"
                  [actionsRightShow]="true"
                  nameActionsRight="Fecha de Registro"
                >
                  <ng-template pTemplate="actions-left" let-rowData="elemento">
                    <div class="link-actuacion">
                      <a (click)="consultarActuacion(rowData)">{{
                        rowData["fecha_ultima_actuacion"]
                      }}</a>
                    </div>
                  </ng-template>
                </app-tabla-component>
              </div>
            </div>
          </ng-template>
        </app-card-component>
      </div>
    </div>
  </div>
</div>

<modal-component
  [maximizable]="true"
  [visible]="showModal"
  tamanio="90vw"
  (closeModal)="showModal = false"
>
  <ng-template pTemplate="title">
    <div class="grid">
      <div class="col-12">
        <h4>Ultimas actuación</h4>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="grid p-2" *ngIf="!showDataDescription; else showDecriptionForm">
      <div class="col-12">
        <app-tabla-component
          [cols]="[
            { field: 'despacho', header: 'Despacho' },
            { field: 'notificacion', header: 'Notificación' },
            { field: 'radicacion', header: 'Radicación' },
            { field: 'proceso', header: 'Proceso' },
            { field: 'demandante', header: 'Demandante' },
            { field: 'demandado', header: 'Demandado' },
            { field: 'descripcion', header: 'Descripción' },
            { field: 'fechapublicacion', header: 'Publicación', isFecha: true }
          ]"
          [data]="listActuacion"
          [totalRecords]="totalRows"
          [actionsRightShow]="true"
          nameActionsRight="Auto"
          nameActionsLeft="Detalle"
          [actionsShow]="true"
          [paginador]="true"
          [lazy]="true"
          [rows]="generalRows"
          paginationPosition="both"
          (onChangePage)="consultarActuacion(undefined, $event)"
        >
          <ng-template pTemplate="actions" let-rowData="elemento">
            <div class="grid">
              <div class="col-12">
                <app-button-component
                  [icon]="true"
                  [showTooltip]="true"
                  messageTooltip="Consultar detalle"
                  iconClass="pi pi-eye"
                  clase="p-button-rounded p-button-primary p-button-text"
                  (eventEmiter)="showDescription(rowData)"
                ></app-button-component>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="actions-left" let-rowData="elemento">
            <div class="grid">
              <div class="col-12">
                <app-button-component
                  [icon]="true"
                  [showTooltip]="true"
                  messageTooltip="Autos"
                  iconClass="pi {{
                    rowData.ruta_auto !== '' ? 'pi-file-pdf' : 'pi-times'
                  }} "
                  clase="p-button-rounded p-button-danger p-button-text"
                  (eventEmiter)="downloadDoc(rowData.ruta_auto)"
                ></app-button-component>
              </div>
            </div>
          </ng-template>
        </app-tabla-component>
      </div>
    </div>
    <ng-template #showDecriptionForm>
      <div class="grid p-fluid">
        <div class="col-12 p-2">
          <h4>Consulta detalle</h4>
        </div>
      </div>
      <div class="grid p-2">
        <div class="col-6">
          <input-text
            [(model)]="actuacionSelected.despacho"
            [disabledInputText]="true"
            placeHolder="Despacho"
            styleInput="help-text"
          ></input-text>
        </div>
        <div class="col-6">
          <input-text
            [(model)]="actuacionSelected.radicacion"
            [disabledInputText]="true"
            placeHolder="Radicación"
            styleInput="help-text"
          ></input-text>
        </div>
      </div>
      <div class="grid p-2">
        <div class="col-6">
          <input-text
            [(model)]="actuacionSelected.notificacion"
            [disabledInputText]="true"
            placeHolder="Notificación"
            styleInput="help-text"
          ></input-text>
        </div>
        <div class="col-6">
          <input-text
            [(model)]="actuacionSelected.proceso"
            [disabledInputText]="true"
            placeHolder="Proceso"
            styleInput="help-text"
          ></input-text>
        </div>
      </div>
      <div class="grid p-2">
        <div class="col-6">
          <app-text-area
            styleInput="help-text"
            placeholder="Demandante"
            heightTamanio="100px"
            [(model)]="actuacionSelected.demandante"
            [disabled]="true"
          ></app-text-area>
        </div>
        <div class="col-6">
          <app-text-area
            styleInput="help-text"
            placeholder="Demandado"
            heightTamanio="100px"
            [(model)]="actuacionSelected.demandado"
            [disabled]="true"
          ></app-text-area>
        </div>
      </div>
      <div class="grid p-2">
        <div class="col-12">
          <app-text-area
            styleInput="help-text"
            placeholder="Demandado"
            heightTamanio="100px"
            [(model)]="actuacionSelected.descripcion"
            [disabled]="true"
          ></app-text-area>
        </div>
      </div>
      <div class="grid p-2">
        <div class="col-6">
          <input-text
            [(model)]="actuacionSelected.fechapublicacion"
            [disabledInputText]="true"
            placeHolder="Fecha publicación"
            styleInput="help-text"
          ></input-text>
        </div>
        <div class="col-6">
          <input-text
            [(model)]="actuacionSelected.imagen"
            [disabledInputText]="true"
            placeHolder="Imagen"
            styleInput="help-text"
          ></input-text>
        </div>
      </div>
      <div class="grid">
        <div class="col-12 p-2">
          <app-button-component
            nameButton="Retornar"
            clase="p-button-rounded p-button-outlined p-button-success"
            [icon]="true"
            iconClass="pi pi-bell"
            (eventEmiter)="showDescription()"
          ></app-button-component>
        </div>
      </div>
    </ng-template>
  </ng-template>
</modal-component>

<p-toast></p-toast>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
