<p-table
  #tableGeneric
  [columns]="cols"
  [value]="data"
  [paginator]="paginador"
  [rows]="rows"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="rowsPerPage"
  [paginatorPosition]="paginationPosition"
  [styleClass]="stripedTable ? 'p-datatable-striped' : ''"
  [tableStyle]="fixStyleTable ? { 'min-width': '50rem' } : ''"
  [ngClass]="[stripedTable ? 'p-datatable-striped' : '']"
  [(selection)]="selectedElement"
  [dataKey]="idElement"
  [lazy]="lazy"
  [scrollable]="true"
  [loading]="loading"
  (onPage)="onPageChange($event)"
  (selectionChange)="onRowSelect($event)"
  [sortMode]="multipleSort ? 'multiple' : 'single'"
  [pSortableColumnDisabled]="true"
  [totalRecords]="totalRecords"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
>
  <ng-template pTemplate="caption">
    <div class="flex flex-row-reverse flex-wrap" *ngIf="filtroGeneral">
      <div>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="
              tableGeneric.filterGlobal($any($event.target).value, 'contains')
            "
            placeholder="Search keyword"
          />
        </span>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 4rem" *ngIf="multiSelect">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngIf="actionsShow">{{ nameActionsLeft }}</th>
      <th pSortableColumn="{{ col.header }}" *ngFor="let col of columns">
        <div *ngIf="!col.show">
          {{ col.header }}
          <p-sortIcon *ngIf="isSortTable" [field]="col.header"></p-sortIcon>
        </div>
      </th>
      <th *ngIf="actionsRightShow">{{ nameActionsRight }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngIf="multiSelect">
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td *ngIf="actionsShow">
        <ng-template
          [ngTemplateOutlet]="actions"
          [ngTemplateOutletContext]="{ elemento: rowData }"
        ></ng-template>
      </td>
      <td
        *ngFor="let col of columns"
        style="max-width: 300px; word-wrap: break-word"
      >
        <div *ngIf="!col.show">
          <div *ngIf="!col.isFecha; else esFecha">
            <div *ngIf="!col.tipoEX; else tipoEx">
              {{
                rowData[col.field] == "" ||
                rowData[col.field] == null ||
                rowData[col.field] == undefined
                  ? "N / A"
                  : rowData[col.field]
              }}
            </div>
          </div>
        </div>
        <ng-template #tipoEx>
          {{ rowData[col.field] == 1 ? "NUEVO" : "EXPEDIENTE" }}
        </ng-template>
        <ng-template #esFecha>
          <div>
            {{ rowData[col.field] | date : "dd-MMM-yyyy" | titlecase }}
          </div>
        </ng-template>
      </td>
      <td *ngIf="actionsRightShow">
        <ng-template
          [ngTemplateOutlet]="actions_right"
          [ngTemplateOutletContext]="{ elemento: rowData }"
        ></ng-template>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button
      type="button"
      icon="pi pi-plus"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button
      type="button"
      icon="pi pi-cloud"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-table>
