<div class="grid">
  <div class="col-12">
    <div class="grid">
      <div class="col-3">
        <app-card-component>
          <ng-template pTemplate="header">
            <div class="flex flex-column-reverse">
              <div class="flex align-items-center justify-content-center mt-2">
                <h4 class="title-color">Servicios</h4>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="grid p-fluid">
              <div class="col-12">
                <div class="grid p-fluid">
                  <app-side-menu
                    class="col-12 mt-2"
                    [itemsMenu]="[
                      {
                        label: 'Autorizaciones',
                        icon: 'pi pi-fw pi-clone',
                        routerLink:
                          '/provired/home-provired/home/documentos/autorizaciones'
                      },
                      {
                        label: 'Nuevos procesos',
                        icon: 'pi pi-fw pi-clone',
                        routerLink: '/provired/home-provired/home/procesos'
                      }
                    ]"
                  ></app-side-menu>
                </div>
              </div>
            </div>
          </ng-template>
        </app-card-component>
      </div>
      <div class="col-9">
        <div class="grid">
          <div class="col-12">
            <app-card-component>
              <ng-template pTemplate="header">
                <div class="flex flex-column-reverse">
                  <div
                    class="flex align-items-center justify-content-center mt-2"
                  >
                    <h4 class="title-color">Ver mis procesos</h4>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="content">
                <div class="grid p-fluit">
                  <div class="col-12 xl:col-6 md:col-6">
                    <input-text
                      placeHolder="Demandante / Demandado"
                      [(model)]="filterGeneral.demandante_demandado"
                      [grupo]="fb"
                      styleInput="help-text"
                      [placeHolderActive]="false"
                      [disabledInputText]="false"
                    ></input-text>
                  </div>
                  <div class="col-12 xl:col-6 md:col-6">
                    <input-text
                      placeHolder="Radicado"
                      [(model)]="filterGeneral.radicacion"
                      [grupo]="fb"
                      styleInput="help-text"
                      [placeHolderActive]="false"
                      [disabledInputText]="false"
                    ></input-text>
                  </div>
                  <div class="col-12 xl:col-6 md:col-6">
                    <input-text
                      placeHolder="Etiqueta"
                      [(model)]="filterGeneral.etiqueta"
                      [grupo]="fb"
                      styleInput="help-text"
                      [placeHolderActive]="false"
                      [disabledInputText]="false"
                    ></input-text>
                  </div>
                  <div class="col-12">
                    <div>
                      <app-button-component
                        nameButton="Consultar"
                        (eventEmiter)="consultarProcesos()"
                      ></app-button-component>
                    </div>
                  </div>
                </div>
              </ng-template>
            </app-card-component>
          </div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <app-card-component>
          <ng-template pTemplate="content">
            <app-tabla-component
              [data]="listProceso"
              [cols]="[
                { field: 'nameCiudad', header: 'Etiqueta' },
                { field: 'nameDespacho', header: 'Despacho' },
                { field: 'radicacion', header: 'Radicación' },
                { field: 'proceso', header: 'Tipo proceso' },
                { field: 'demandante', header: 'Demandante' },
                { field: 'demandado', header: 'Demandado' },
                { field: 'fecha_registro', header: 'Fecha', isFecha: true }
              ]"
              [totalRecords]="totalRecords"
              [actionsShow]="true"
              [paginador]="true"
              [lazy]="true"
              [fixStyleTable]="true"
              [stripedTable]="true"
              [rows]="30"
              nameActionsLeft="Editar"
              [filtroGeneral]="false"
              (onChangePage)="changePage($event)"
              [loading]="loadingTable"
            >
              <ng-template pTemplate="actions" let-rowData="elemento">
                <div class="grid p-fluit">
                  <div class="col-12">
                    <app-button-component
                      [icon]="true"
                      [showTooltip]="true"
                      messageTooltip="Eliminar registro"
                      iconClass="pi pi-file-edit"
                      clase="p-button-rounded p-button-text"
                      (eventEmiter)="registroSeleccionado(rowData)"
                    ></app-button-component>
                  </div>
                  <!-- <div class="col-4">
                <app-button-component
                  [icon]="true"
                  [showTooltip]="true"
                  messageTooltip="Eliminar registro"
                  iconClass="pi pi-pencil"
                  clase="p-button-rounded p-button-text"
                ></app-button-component>
              </div>
              <div class="col-4">
                <app-button-component
                  [icon]="true"
                  [showTooltip]="true"
                  messageTooltip="Eliminar registro"
                  iconClass="pi pi-times"
                  clase="p-button-rounded p-button-danger p-button-text"
                ></app-button-component>
              </div> -->
                </div>
              </ng-template>
            </app-tabla-component>
          </ng-template>
        </app-card-component>
      </div>
    </div>
  </div>
</div>
<modal-component [visible]="showModal" (closeModal)="showModal = false">
  <ng-template pTemplate="title">
    <h4>Editar registro.</h4>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="grid p-fluit">
      <div class="col-12 xl:col-6 md:col-6">
        <input-text
          placeHolder="Demandante"
          [(model)]="itemSelected.demandante"
          [grupo]="fbUpdate"
          [requerido]="true"
          styleInput="help-text"
          [placeHolderActive]="false"
          [disabledInputText]="false"
        ></input-text>
      </div>
      <div class="col-12 xl:col-6 md:col-6">
        <input-text
          placeHolder="Demandado"
          [(model)]="itemSelected.demandado"
          [grupo]="fbUpdate"
          [requerido]="true"
          styleInput="help-text"
          [placeHolderActive]="false"
          [disabledInputText]="false"
        ></input-text>
      </div>
      <div class="col-12 xl:col-6 md:col-6">
        <input-text
          placeHolder="Etiqueta"
          [(model)]="itemSelected.etiqueta_suscriptor"
          [grupo]="fbUpdate"
          styleInput="help-text"
          [requerido]="true"
          [placeHolderActive]="false"
          [disabledInputText]="false"
        ></input-text>
      </div>
      <div class="col-12 xl:col-6 md:col-6">
        <input-text
          placeHolder="Expediente Digital (URL)"
          [(model)]="itemSelected.expediente_digital"
          [grupo]="fbUpdate"
          styleInput="help-text"
          [placeHolderActive]="false"
          [disabledInputText]="false"
        ></input-text>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div style="text-align: end">
      <app-button-component
        nameButton="Editar"
        (eventEmiter)="actualizarProceso()"
      ></app-button-component>
      <app-button-component
        clase="p-button-danger"
        nameButton="Cancelar"
        (eventEmiter)="showModal = false"
      ></app-button-component>
    </div>
  </ng-template>
</modal-component>

<p-toast></p-toast>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
