<div class="grid">
  <div class="col-12">
    <div class="grid">
      <div class="col-3">
        <app-card-component>
          <ng-template pTemplate="header">
            <div class="flex flex-column-reverse">
              <div class="flex align-items-center justify-content-center mt-2">
                <h4 class="title-color">Servicios</h4>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="grid p-fluid">
              <div class="col-12">
                <div class="grid p-fluid">
                  <app-side-menu
                    class="col-12 mt-2"
                    [itemsMenu]="[
                      {
                        label: 'Autorizaciones',
                        icon: 'pi pi-fw pi-clone',
                        routerLink:
                          '/provired/home-provired/home/documentos/autorizaciones'
                      },
                      {
                        label: 'Nuevos procesos',
                        icon: 'pi pi-fw pi-clone',
                        routerLink: '/provired/home-provired/home/procesos'
                      }
                    ]"
                  ></app-side-menu>
                </div>
              </div>
            </div>
          </ng-template>
        </app-card-component>
      </div>
      <div class="col-9">
        <div class="grid">
          <div class="col-12">
            <app-card-component>
              <ng-template pTemplate="header">
                <div class="flex flex-column-reverse">
                  <div
                    class="flex align-items-center justify-content-center mt-2"
                  >
                    <h4 class="title-color">Ver mis procesos</h4>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="content">
                <div class="grid p-fluit">
                  <div class="col-12 xl:col-6 md:col-6">
                    <input-text
                      placeHolder="Demandante/Demandado"
                      [(model)]="formSearchProcess.demandante"
                      [grupo]="fb"
                      [requerido]="true"
                      styleInput="help-text"
                      [placeHolderActive]="false"
                      [disabledInputText]="false"
                    ></input-text>
                  </div>
                  <div class="col-12 xl:col-6 md:col-6">
                    <input-text
                      placeHolder="Radicado"
                      [(model)]="formSearchProcess.radicado"
                      [grupo]="fb"
                      [requerido]="true"
                      styleInput="help-text"
                      [placeHolderActive]="false"
                      [disabledInputText]="false"
                    ></input-text>
                  </div>
                  <div class="col-12">
                    <div>
                      <app-button-component
                        nameButton="Consultar"
                        (eventEmiter)="consultarProcesos()"
                      ></app-button-component>
                    </div>
                  </div>
                </div>
              </ng-template>
            </app-card-component>
          </div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <app-card-component>
          <ng-template pTemplate="content">
            <div class="grid">
              <div class="col-12 flex" style="justify-content: end">
                <div style="width: 80px">
                  <app-button-component
                    clase="p-button-outlined p-button-danger"
                    nameButton="Eliminar"
                    (eventEmiter)="showModalD = true"
                  ></app-button-component>
                </div>
                <div class="ml-2" style="width: 100px">
                  <app-button-component
                    nameButton="Transferir"
                    (eventEmiter)="showModalD = true"
                  ></app-button-component>
                </div>
              </div>
            </div>
            <div class="grid">
              <div class="col-12">
                <app-tabla-component
                  [cols]="[
                    { field: 'name_departamento', header: 'Ciudad' },
                    { field: 'name_despacho', header: 'Despacho' },
                    { field: 'radicacion', header: 'Radicación' },
                    { field: 'proceso', header: 'Tipo proceso' },
                    { field: 'demandante', header: 'Demandante' },
                    { field: 'demandado', header: 'Demandado' },
                    { field: 'name_usuario', header: 'Suscriptor' },

                    {
                      field: 'fecha_registro',
                      header: 'Fecha de registro',
                      isFecha: true
                    }
                  ]"
                  (selected)="selectedItems($event)"
                  [multiSelect]="true"
                  [data]="listEliminar"
                  [paginador]="false"
                  [filtroGeneral]="false"
                  [lazy]="false"
                  [fixStyleTable]="true"
                  [stripedTable]="true"
                  [rows]="30"
                  [actionsShow]="false"
                  nameActionsLeft="acciones"
                >
                </app-tabla-component>
              </div>
            </div>
          </ng-template>
        </app-card-component>
      </div>
    </div>
  </div>
</div>

<modal-component
  [visible]="showModalD"
  (closeModal)="showModalD = false"
  tamanio="70vw"
>
  <ng-template pTemplate="title">
    <h4 class="title-color">Eliminar registros</h4>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="grid">
      <div class="col-12">
        <app-tabla-component
          [cols]="[
            { field: 'name_departamento', header: 'Ciudad' },
            { field: 'name_despacho', header: 'Despacho' },
            { field: 'radicacion', header: 'Radicación' },
            { field: 'demandante', header: 'Demandante' },
            { field: 'demandado', header: 'Demandado' },
            { field: 'name_usuario', header: 'Suscriptor' }
          ]"
          [multiSelect]="false"
          [data]="selectedItemList"
          [paginador]="false"
          [filtroGeneral]="false"
          [lazy]="false"
          [fixStyleTable]="true"
          [stripedTable]="true"
          [rows]="30"
          [actionsShow]="false"
          nameActionsLeft="acciones"
        >
        </app-tabla-component>
        <div class="flex justify-content-center mt-2">
          <h4>Esta seguro de eliminar estos registros?</h4>
        </div>
      </div>
    </div>
    <div class="grid mt-2">
      <div class="col-12">
        <div class="flex justify-content-center">
          <re-captcha
            (errored)="expireCaptchat($event)"
            (resolved)="acceptedCaptcha($event)"
            siteKey="{{ siteKey }}"
          ></re-captcha>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <app-button-component
      nameButton="Eliminar"
      clase="p-button-danger"
      (eventEmiter)="eliminarProcesos()"
    ></app-button-component>
    <app-button-component
      nameButton="Cancelar"
      (eventEmiter)="showModalD = false"
    ></app-button-component>
  </ng-template>
</modal-component>

<p-toast></p-toast>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
