<app-card-component>
  <ng-template pTemplate="header">
    <div class="grid">
      <div class="col-12 text-center">
        <h3 class="pt-3">Reporte Rama Judicial</h3>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <div class="grid p-7">
          <div class="col-6">
            <app-card-component>
              <ng-template pTemplate="header">
                <div class="grid p-3">
                  <div class="col-12 text-center">
                    <h3 class="pt-3">Unificada</h3>
                    <i class="pi pi-file"></i>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="content">
                <div class="grid p-3">
                  <div class="col-12 text-center mt-3">
                    <app-button-component
                      clase="p-button-rounded"
                      nameButton="Descargar reporte Unificada"
                      (eventEmiter)="
                        dowunloadReportRamaJudicial(
                          generalConst.REPORTE_RAMA_JUDICIAL[0].value
                        )
                      "
                    ></app-button-component>
                  </div>
                </div>
              </ng-template>
            </app-card-component>
          </div>
          <div class="col-6">
            <app-card-component>
              <ng-template pTemplate="header">
                <div class="grid p-3">
                  <div class="col-12 text-center">
                    <h3 class="pt-3">Samai</h3>
                    <i class="pi pi-file"></i>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="content">
                <div class="grid p-3">
                  <div class="col-12 text-center mt-3">
                    <app-button-component
                      clase="p-button-rounded"
                      nameButton="Descargar reporte samai"
                      (eventEmiter)="
                        dowunloadReportRamaJudicial(
                          generalConst.REPORTE_RAMA_JUDICIAL[1].value
                        )
                      "
                    ></app-button-component>
                  </div>
                </div>
              </ng-template>
            </app-card-component>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</app-card-component>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
