<div class="col-12">
  <span
    [ngClass]="[
      styleInput == 'icon' && iconOrientation == 'left'
        ? 'p-input-icon-left'
        : styleInput == 'icon' && iconOrientation == 'right'
        ? 'p-input-icon-right'
        : styleInput == 'help-text'
        ? 'flex flex-column'
        : styleInput == 'float'
        ? 'p-float-label'
        : ''
    ]"
  >
    <i *ngIf="styleInput == 'icon'" class="pi {{ icon }}"></i>
    <label *ngIf="styleInput == 'help-text'" [attr.htmlFor]="nombre">{{
      placeHolder
    }}</label>
    <input
      pInputText
      [attr.maxlength]="maxLength"
      [attr.minlength]="minLength"
      type="{{ tipo }}"
      [placeholder]="
        placeHolderActive ? (styleInput == 'help-text' ? placeHolder : '') : ''
      "
      [attr.maxlength]="maxLength"
      [attr.id]="nombre"
      [disabled]="disabledInputText"
      [(ngModel)]="model"
      (ngModelChange)="modelChange.emit($event)"
      [ngClass]="[
        valid ?
        grupo.controls[nombre].errors?.['errorRequerido']? 'ng-invalid ng-dirty': '': ''
      ]"
      class="col-12"
      [pattern]="patron"
      [attr.aria.required]="requerido"
    />
    <label [attr.htmlFor]="nombre" *ngIf="styleInput == 'float'">
      {{ placeHolder }}
    </label>
    <small
      *ngIf="styleInput == 'help-text'"
      id="username-help"
      [ngClass]="[
        valid ?
        grupo.controls[nombre].errors?.['errorRequerido']? 'error-invalid': '': ''
      ]"
      >Por favor ingrese su {{ placeHolder }}.
    </small>
  </span>
</div>
<!-- <span> El numero de caracteres supera el  </span> -->
