.user-i {
  img {
    border-radius: 50%;
    width: 140px;
  }
}

.user-d {
  &--name {
    color: #1567c3;
    font-weight: 700;
  }
  &--email {
    font-weight: 600;
  }
  &--vence{
    font-weight: 600;
  }
}

.title-pass {
  color: #1567c3;
}
